<!DOCTYPE html>
<html lang="en">
<head>
  <title>Migrations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link" href="/companies">Companies</a></li>
  <li class="nav-item"><a class="nav-link" href="/companies-migrations">Campaigns Migrations</a></li>
  <li class="nav-item"><a class="nav-link" href="/database-migrations">Database Migrations</a></li>
  <li class="nav-item"><a class="nav-link" href="/">Syntax</a></li>
  <li class="nav-item"><a class="nav-link" href="/">Operations</a></li>
  <li class="nav-item"><a class="nav-link" href="/">Database Entities</a></li>
  <li class="nav-item"><a class="nav-link" href="/">Operation Contains Operation</a></li>
  <li class="nav-item"><a class="nav-link" href="/">Operation Use Database Entity</a></li>
</ul>

</nav>

<div class="container">

    <h1>Migrations</h1>

          <div>
              {% for row in data %}
                  <div class="border p-1 m-1">
                      <form action = "/database-migrations" method = post>
                          <p>
                            Database From: {{row.databasefrom}}, Database to: {{row.databaseto}}, Hardware Number: {{row.hardwarenumber}}, 
                            Success: {{row.sucess}}, Id: {{row.id}}
                            <button name="del" type="submit" class="mh-100 del" value="{{row.id}}">Delete</button>
                            <button name="edit" type="submit" class="mh-100 edit" value="{{row.id}}">Edit</button>
                          </p>
                      </form>
                  </div>
              {% endfor %}
          </div>

    <form action = "/database-migrations" method = post>
       <fieldset>
           {{ form.hidden_tag() }}
           <legend>Add a Migration</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                {{ form.databasefrom.label }}      {{ form.databasefrom }}
            </div>
              <div>
                  {{ form.databaseto.label }}      {{ form.databaseto }}
              </div>
              <div>
                {{ form.hardwarenumber.label }}      {{ form.hardwarenumber }}
              </div>
              <div>
                {{ form.sucess.label }}      {{ form.sucess }}
              </div>
              <div>
                {{ form.id.label }}      {{ form.id }}
              </div>

             {{ form.submit }}
          </div>

       </fieldset>
    </form>

</div>

</body>
</html>